/* BODY */
body{
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.cabecalho{
    flex-basis: 30%;
}
.cabecalho__logo{
    margin: 0px 0px 35px 10px;
}

figcaption{
    display: none;
}

.cabecalho__menuNavegacao{
    font-size: 20px;
}

.cabecalho__sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 10px;
}

.cabecalho__menuItem a{
    padding: 10px;
    border-radius: 20px; 
    color: black;
    text-decoration: none;
    vertical-align: top;
    margin-bottom: 20px;
}

.cabecalho__menuItem{
    margin-bottom: 20px;
    border-radius: 20px;
}

.cabecalho__menuItem a:hover{
    transition: 0.5s;
    background-color: #e8e8e8; 
}

.cabecalho__menuItem img{
    width: 35px;
    padding-right: 10px;
    height: 25px;
    vertical-align: bottom;
}

.active{
    color:#1da1f2 !important; 
    font-weight: bold;
}

.main{
    flex-basis: 70%;
    border-left: 1px solid #e7ecf0;
    border-right: 1px solid #e7ecf0;
}
.main__title{
    /* padding: 10px 20px; */
    margin: 10px 20px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 25px;
}

.main__form{
    padding: 10px 20px;
    border-bottom: 5px solid #e7ecf0;
    text-align: right;
}

.form__profilePic{
    width: 50px;
    height: 50px;
    float: left;
}

.main__form textarea{
    padding: 18px 10px 10px;
    width: 90%; 
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    font-weight: 500;
}

.main__form button{
    border: none;
    background-color: rgba(29,161,242,0.4) ;
    transition: 0.7s;
    padding: 13px 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;   
    text-align: center;
}


.toggleButton{
    background-color: #1da1f2 !important;
    transition: 0.5s;
    cursor: pointer;
}

.main__cabecalho{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.main a{
    text-decoration: none;
    color: black;
}

.cabecalho__campanha{
    width: 45px;
    height: 45px;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 50%;
}

.cabecalho__campanha:hover{
    background-color: rgba(0,0,0,0.1);
}

.main__feed{
    border-top: 5px solid #e7ecf0;
}

.main__feed a{
    color: #1D9BF0;
    text-decoration: none;
}

.main__feed a:hover{
    text-decoration: underline;
}

.main__listTweets{
    display: flex;
    flex-flow: column-reverse wrap;
}

.main__tweet:hover{
    cursor: pointer;
    background-color: #f3f3f3;
    transition: 0.4s;
}
.main__tweet{
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #e7ecf0;
    display: flex;
    align-items: flex-start;
}

.tweet__profilePic{
    width: 50px;
    height: 50px;
}

.verificado{
    width: 19px;
    height: 19px;
    vertical-align: middle;
    margin-left: 4px;
}

.verificado2{
    width: 19px;
    height: 19px;
    vertical-align: middle;
}

.tweet__content{
    margin-left: 7px;
    width: 100%;
}

.tweet__nome{
    display: inline-block;
    font-weight: bold;
    padding-left: 8px;
}

.tweet__nome:hover{
    text-decoration: underline;
}

.tweet__time:hover{
    text-decoration: underline;
}

.tweet__usuarioTempo,.tweet__time{
    display: inline-block;
    color: #828282;
}

.tweet__text{
    margin-top: 10px;
    padding-left: 8px;
    color: #333;
}

.tweet__icons{
    display: flex;
    justify-content: space-between;
}

.icons{
    padding : 8px;
    height: 34px;
    width: 34px;
    filter: brightness(0%);
    border-radius: 50%;
    z-index: 1;
}

.icons:hover{
    filter: brightness(100%);
    transition: 0.5s;
}

.icon-reply:hover{
    background-color: #1da0f225;
}

.icon-retweet:hover{
    background-color: #00b97b25;
}

.icon-like:hover{
    background-color: #e8265e25;
}

.footer{

}

.footer__nav{

}

.footer__list{

}

.footer__items{

}

.footer__paragraph{

}

.footer a{

}

.footer__img{
    width: 25px;
    height: 25px;
}