/* BODY */
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.cabecalho{
    flex-basis: 30%;
}
.cabecalho__logo{
    margin: 10px 0px 35px 10px;
}

figcaption{
    display: none;
}

.cabecalho__menuNavegacao{
    font-size: 20px;
}

.cabecalho__menuLista{}

.cabecalho__menuItem a{
    padding: 10px;
}

.cabecalho__menuItem{
    margin-bottom: 20px;
    border-radius: 20px;
}

.cabecalho__menuItem a:hover{
    transition: 0.3s;
    background-color: #e8e8e8;
    border-radius: 20px;  
}

.cabecalho__menuItem img{
    width: 25px;
    height: 25px;
}

.cabecalho__menuItem a{
    color: black;
    text-decoration: none;
    vertical-align: top;
}


.active{
    color:#1da1f2 !important; 
    font-weight: bold;
}

.main{
    flex-basis: 70%;
    border-left: 1px solid #e7ecf0;
    border-right: 1px solid #e7ecf0;
}
.main__title{
    padding: 10px 20px;
    font-weight: bold;
}

.main__form{
    padding: 10px 20px;
    border-bottom: 10px solid #e7ecf0;
    text-align: right;
}

.form__profilePic{
    width: 50px;
    height: 50px;
    float: left;
}

.main__form textarea{
    padding: 18px 10px 10px;
    width: 90%; 
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    font-weight: 500;
}

.main__form button{
    border: none;
    background-color: rgba(29,161,242,0.4) ;
    padding: 13px 20px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}


.main__feed{
}

.main__listTweets{
    display: flex;
    flex-flow: column-reverse wrap;
}

.main__tweet:hover{
    cursor: pointer;
    background-color: #e8e8e8;
    transition: 0.4s;
}
.main__tweet{
    padding: 20px;
    border-bottom: 1px solid #e7ecf0;
    display: flex;
    align-items: flex-start;
}

.tweet__profilePic{
    width: 50px;
    height: 50px;
}

.tweet__content{
    margin-left: 15px;
}

.tweet__nome{
    display: inline-block;
    font-weight: bold;
}

.tweet__usuarioTempo{
    display: inline-block;
    color: #828282;
}

.tweet__text{
    margin-top: 15px;
    color: #333;
}




